@import 'assets/variables.scss';

// -----------------------------------------------------------------------------
//
// Typography
//
// -----------------------------------------------------------------------------
@mixin font--primary($weight: 300, $style: normal) {
  font-family: $font--primary;
  font-weight: $weight;
  font-style: $style;
}

@mixin font--secondary($weight: 300, $style: normal) {
  font-family: $font--secondary;
  font-weight: $weight;
  font-style: $style;
}

@mixin font-size($size) {
  font-size: #{$size}px;
  font-size: #{$size / 10}rem;
}
