// -----------------------------------------------------------------------------
//
// Grid utilities
//
// -----------------------------------------------------------------------------
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1240px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1250px,
);

$grid-gutter-width-base: 20px;
$grid-xs-gutter-width-base: 20px;
$grid-sm-gutter-width-base: 20px;
$grid-md-gutter-width-base: 20px;
$grid-lg-gutter-width-base: 50px;
$grid-xl-gutter-width-base: 50px;

$grid-gutter-widths: (
  xs: $grid-xs-gutter-width-base,
  sm: $grid-sm-gutter-width-base,
  md: $grid-md-gutter-width-base,
  lg: $grid-lg-gutter-width-base,
  xl: $grid-xl-gutter-width-base,
);

$screen-sm: #{map-get($grid-breakpoints, sm)};
$screen-md: #{map-get($grid-breakpoints, md)};
$screen-lg: #{map-get($grid-breakpoints, lg)};
$screen-xl: #{map-get($grid-breakpoints, xl)};

$screen-phone: $screen-sm;
$screen-tablet: $screen-md;
$screen-desktop: $screen-lg;
$screen-lg-desktop: $screen-xl;

$screen-xs-max: #{map-get($grid-breakpoints, sm) - 1};
$screen-sm-max: #{map-get($grid-breakpoints, md) - 1};
$screen-md-max: #{map-get($grid-breakpoints, lg) - 1};
$screen-lg-max: #{map-get($grid-breakpoints, xl) - 1};

// Lazy media query variables.
$mobile: 'screen and (min-width: #{$screen-sm})';
$tablet: 'screen and (min-width: #{$screen-md})';
$normal: 'screen and (min-width: #{$screen-lg})';
$wide: 'screen and (min-width: #{$screen-xl})';
$mobile-only: 'screen and (max-width: #{$screen-sm-max})';
$tablet-only: 'screen and (min-width: #{$screen-md}) and (max-width: #{$screen-md-max})';
$normal-only: 'screen and (min-width: #{$screen-lg}) and (max-width: #{$screen-lg-max})';
$mobile-down: 'screen and (max-width: #{$screen-sm-max})';
$tablet-down: 'screen and (max-width: #{$screen-md-max})';
$normal-down: 'screen and (max-width: #{$screen-lg-max})';

// -----------------------------------------------------------------------------
//
// Typography
//
// -----------------------------------------------------------------------------

// Primary fonts will be used for 90% of the text styles, mainly body text.
// Secondary fonts will be used mainly for headings.
$font--primary: 'Roboto', Helvetica, Arial, sans-serif;
$font--secondary: 'Helvetica', Arial, sans-serif;

// MOBILE: Font sizes (in pixels) / line-heights
$font-size--h1: 30;
$line-height--h1: 4rem;

$font-size--h2: 24;
$line-height--h2: 3.2rem;

$font-size--h3: 20;
$line-height--h3: 2.6rem;

$font-size--h4: 14;
$line-height--h4: 1.8rem;

$font-size--button: 14;
$line-height--button: 1.8rem;

$font-size--body: 16;
$line-height--body: 2.8rem;

$font-size--body--small: 14;
$line-height--body--small: 2.2rem;

$font-size--body--large: 18;
$line-height--body--large: 3rem;


// DESKTOP: Font sizes (in pixels) / line-heights
$desktop--font-size--h1: 60;
$desktop--line-height--h1: 7rem;

$desktop--font-size--h2: 40;
$desktop--line-height--h2: 5rem;

$desktop--font-size--h3: 26;
$desktop--line-height--h3: 3.6rem;

$desktop--font-size--h4: 16;
$desktop--line-height--h4: 2rem;

$desktop--font-size--button: 16;
$desktop--line-height--button: 2rem;

$desktop--font-size--body: 20;
$desktop--line-height--body: 3.6rem;

$desktop--font-size--body--small: 16;
$desktop--line-height--body--small: 2.4rem;

$desktop--font-size--body--large: 24;
$desktop--line-height--body--large: 3.8rem;

// -----------------------------------------------------------------------------
//
// Colors
//
// -----------------------------------------------------------------------------
$color--primary: #FF0000;
$color--primary--lighter: #FF7777;
$color--primary--darker: #9C0000;

$color--black: #000;
$color--white: #fff;
$color--grey: #AAAAAA;
$color--grey--lighter: #EFEFEF;
$color--grey--darker: #7A7A7A;

$color--transparent: rgba(255, 255, 255, 0);
$color--placeholder: #f0f0f0;
$color--error: #da3636;

// -----------------------------------------------------------------------------
//
// Borders
//
// -----------------------------------------------------------------------------
$color--border: $color--grey--lighter;
$border-radius--primary: 3px;

// -----------------------------------------------------------------------------
//
// Shadows
//
// -----------------------------------------------------------------------------
$box-shadow--primary: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
$box-shadow--secondary: 0 0 10px 0 rgba(0, 0, 0, 0.15);

// -----------------------------------------------------------------------------
//
// z-index
//
// -----------------------------------------------------------------------------
$z-index-0: 0;
$z-index-1: 10;
$z-index-2: 20;
$z-index-3: 30;
$z-index-4: 100;
$z-index-5: 1000;
