@import '../variables.scss';
@import './mixins.scss';

body {
  @include font-size($font-size--body);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $color--black;
  font-family: $font--default;
  line-height: $line-height--body;

  @media #{tablet} {
    @include font-size($desktop--font-size--body);
    line-height: $desktop--line-height--body;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $font--heading;
  margin: 0;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

h1 {
  @include font-size($font-size--h1);
  font-weight: bold;
  letter-spacing: $letter-spacing--h1;
  line-height: $line-height--h1;
  margin-bottom: 2rem;

  @media #{$normal} {
    @include font-size($desktop--font-size--h1);
    letter-spacing: $desktop--letter-spacing--h1;
    line-height: $desktop--line-height--h1;
    margin-bottom: 3rem;
  }
}

h2 {
  @include font-size($font-size--h2);
  font-weight: bold;
  line-height: $line-height--h2;
  margin-bottom: 2rem;

  @media #{$normal} {
    @include font-size($desktop--font-size--h2);
    line-height: $desktop--line-height--h2;
    margin-bottom: 2rem;
  }
}

h3 {
  @include font-size($font-size--h3);
  font-weight: 500;
  line-height: $line-height--h3;
  margin-bottom: 2rem;

  @media #{$normal} {
    @include font-size($desktop--font-size--h3);
    line-height: $desktop--line-height--h3;
    margin-bottom: 2rem;
  }
}

h4 {
  @include font-size($font-size--h4);
  font-weight: 500;
  line-height: $line-height--h4;
  margin-bottom: 2rem;

  @media #{$normal} {
    @include font-size($desktop--font-size--h4);
    line-height: $desktop--line-height--h4;
    margin-bottom: 2rem;
  }
}
